# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

##### .lstrip()

In [2]:
name = " Saad Mohiuddin"

print(name)
new_name = name.lstrip()

print(new_name)

 Saad Mohiuddin
Saad Mohiuddin

In [4]:
# .strip()
name3 = " Luke Skywalker "
print(name3)

new_name3 = name3.strip()
print(new_name3)

 Luke Skywalker
Luke Skywalker

##### Using 'in' keyword

In [5]:
# name_lst = ["Ryan","Alex","Samad","Chris","Julia","Dylan"]

# for name in name_lst:
#     if "a" in name.lower():
#         print(name)

Ryan
Alex
Samad
Julia
Dylan

##### Continue Statement

In [6]:
for name in name_lst:
    if "a" in name.lower():
        continue
    print(name)

Chris

##### Break Statement

In [8]:
# will break out of current loop
for name in name_lst:
    if "i" in name.lower():
        break
    print(name)

Ryan
Alex
Samad

##### Pass Statement

In [9]:
# mostly used as a placeholder, and will continue on same iteration
for name in name_lst:
    pass

##### Double For Loops

In [12]:
num_list = [1,2,3,4,5,4,6,7,8,10,5,7]

for i in range(len(num_list)):
    for j in range(len(num_list)):
        if i != j and num_list[i] == num_list[j]:
                print(num_list[i])

4
5
4
7
5
7

### While Loops

In [14]:
num = 0
while num < 10:
    print(num)
    num +=1

counter = 0
while True:
    print(counter)
    counter += 1
    if counter == 7:
        break

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6

##### looping 'While True'

In [16]:
counter = 0
while True:
    print(counter)
    counter += 1
    if counter == 7:
        break

# flag = True
# num = 0
# while True:
#     print(num)
#     num += 2
#     if num >= 20:
#         flag = False

0
1
2
3
4
5
6

##### While & For Loops Used Together

In [18]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(3):
        print("For Loop Iteration: ", str(i))
        
        num +=1

 While Loop Iteration: 0
For Loop Iteration:  0
For Loop Iteration:  1
For Loop Iteration:  2

 While Loop Iteration: 3
For Loop Iteration:  0
For Loop Iteration:  1
For Loop Iteration:  2

##### The Range Function

In [19]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

### String Manipulation Exercise

In [42]:
# names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# for name in names:
#     name2 = name.strip()
#     print(name2.title())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [52]:
l_1 = []
names = ["Ryan", "Alex", "Samad", "Chris", "Jason"]

##### Indexing a List

In [56]:
print(names[4])
print(names[-1])

#In reverse
print(names[::-1])

Jason
Jason
['Jason', 'Chris', 'Samad', 'Alex', 'Ryan']

### List Methods

##### .append()

In [62]:
names_lst = ["Ash", "Brock", "Misty", "Gary"]

names_lst.append("Farthead")
print(names_lst)

['Ash', 'Brock', 'Misty', 'Gary', 'Farthead']

##### .insert()

In [63]:
names_lst.insert(3, "Professor Oak")
print(names_lst)

['Ash', 'Brock', 'Misty', 'Professor Oak', 'Gary', 'Farthead']

##### .pop()

In [64]:
# default is the ast value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable 
popped_name = names_lst.pop()
print(popped_name)
print(names_lst)

Farthead
['Ash', 'Brock', 'Misty', 'Professor Oak', 'Gary']

##### .remove()

In [65]:
# value to be removed, not an index

names_lst.remove("Professor Oak")
print(names_lst)

['Ash', 'Brock', 'Misty', 'Gary']

### Working With Lists

##### del()

In [66]:
# index to be removed, not value 
# BE CAREFUL with del, can cause an indexing error if not used carefully
del(names_lst[3])
print(names_lst)

['Ash', 'Brock', 'Misty']

##### min()

In [67]:
num_list = [2,5,6,3,15,0]

min_list = min(num_list)
print(min_list)
print(min(num_list))

0
0

##### max()

In [69]:
num_list = [2,5,6,3,15,0]

max_list = max(num_list)
print(max_list)

15

##### sum()

In [70]:
num_list = [2,5,6,3,15,0]

print(sum(num_list))

31

##### sorted()

In [71]:
num_list = [2,5,6,3,15,0]

sorted_list = sorted(num_list)
print(sorted_list)

[0, 2, 3, 5, 6, 15]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [75]:
num_list = [2,5,6,3,15,0]
num_list.sort()
print(num_list)
print(num_list.sort())

[0, 2, 3, 5, 6, 15]
None

##### Copying a List

In [77]:
# [:] copies a list, doesn't alter original'
num_list = [2,5,6,3,15,0]
list_2 = num_list[:]
print(list_2)

[2, 5, 6, 3, 15, 0]

##### Looping Through Lists

In [82]:
num_list = [2,5,6,3,15,0]

for num in num_list:
    print(num)
print("\n")
for i in range(len(num_list)):
    print(i, num_list[i])

    
for i, v in enumerate(num_list):
    print(i, v)

2
5
6
3
15
0


0 2
1 5
2 6
3 3
4 15
5 0
0 2
1 5
2 6
3 3
4 15
5 0

##### 'in' keyword

In [84]:
trainer_lst = ["Ash", "Brock", "Misty", "Gary"]
gym_leader_list = ["Brock", "Misty", "Lt. Surge"]

for trainer in trainer_lst:
    if trainer in gym_leader_list:
        print(trainer)

Brock
Misty

##### 'not in' keyword

In [87]:
trainer_lst = ["Ash", "Brock", "Misty", "Gary"]
gym_leader_list = ["Brock", "Misty", "Lt. Surge"]

for trainer in trainer_lst:
    if trainer not in gym_leader_list:
        print(f"{trainer} is on the road")

Ash is on the road
Gary is on the road

##### Checking an Empty List

In [90]:
l_2 = []

if l_2 == []:
    print("There is stuff in the list")
l_3 = [1,2,3]

if l_3 != []:
    for num in l_3:
        print(num)
else:
    print("That list is empty")

There is stuff in the list
1
2
3

##### Removing Instances with a Loop

In [94]:
gym_leader_list = ["Brock", "Misty", "Lt. Surge", "Koga"]

while "Koga" in gym_leader_list:
    gym_leader_list.remove("Koga")
print(gym_leader_list)

while len(gym_leader_list) >= 2:
    gym_leader_list.pop()
print(gym_leader_list)

['Brock', 'Misty', 'Lt. Surge']
['Brock']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [104]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
duplicate_names = []
# for name in names:
#     if name not in duplicate_names:
#         duplicate_names.append(name)
#         print(duplicate_names)
#     else:
#         print(f"{name} already in duplicate_names")
# print(f"New list after removing dups {duplicate_names}")

counter = 0
while counter < len(names):
    if names[counter] not in duplicate_names:
        duplicate_names.append(names[counter])
    counter +=1
    print(duplicate_names)
# print(len(names))

['connor']
['connor']
['connor', 'bob']
['connor', 'bob']
['connor', 'bob', 'evan']
['connor', 'bob', 'evan', 'max']
['connor', 'bob', 'evan', 'max']
['connor', 'bob', 'evan', 'max', 2]
['connor', 'bob', 'evan', 'max', 2]
['connor', 'bob', 'evan', 'max', 2]
['connor', 'bob', 'evan', 'max', 2, 3]
['connor', 'bob', 'evan', 'max', 2, 3]
['connor', 'bob', 'evan', 'max', 2, 3, 4]
['connor', 'bob', 'evan', 'max', 2, 3, 4]
['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [106]:
nums = []

for i in range(100):
    nums.append(i)
print(nums)

print("\n")

nums_comp = [i for i in range(100)]
print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [107]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [110]:
squares = [x**2 for x in range(10)]
print(squares)

#for loop version
squared_nums = []
for x in range(10):
    squared_nums.append(x**2)
print("\n")
print(squared_nums)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]


[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [113]:
#string comprehension
names = ["charmander", "squiertl", "bulbasaur", "cubone", "charizard", "eevee"]
first_letter = [name[0]for name in names]
print(first_letter)

#for loop
first_letter_lst = []
for name in names:
    first_letter_lst.append(name[0])
print(first_letter_lst)

['c', 's', 'b', 'c', 'c', 'e']
['c', 's', 'b', 'c', 'c', 'e']

In [114]:
#using if in comprehension
#if comes after for loop

c_names = [c_name for c_name in names if c_name[0] == "c"]
print(c_names)

['charmander', 'cubone', 'charizard']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [121]:
tup_1 = 1,2,3
tup_2 = (1,2,3)

print(tup_1[0])
print(len(tup_1))

print("\n")
for number in tup_1:
    print(number)
print("\n")

for i in range(len(tup_1)):
    print(tup_1[i])

1
3


1
2
3


1
2
3

##### sorted()

In [126]:
tup_3 = 20,5,1,3,9,45

sorted_tup = sorted(tup_3)
print(sorted_tup)

random_list = 3,4,66,77,33
combine_list = sorted_tup + random_list
print(combine_list)

new_tup = tuple(combine_list)
print(new_tup)

[1, 3, 5, 9, 20, 45]

TypeError: can only concatenate list (not "tuple") to list

##### Adding values to a Tuple

In [128]:
print(tup_1)

tup_1 = tup_1 + (5,)

print(tup_1)

(1, 2, 3)
(1, 2, 3, 5)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [3]:
alist = [1,11,14,5,8,9]

print([i for i in alist if i < 10])


#Solution 2:

# def filteredList(alist):
#     blist = []
#     for i in alist:
#         if i > 10:
#             continue
#         else:
#             blist.append(i)
#     return blist

# print(filteredList(alist))

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [2]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

print(sorted(l_1 + l_2))

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]